.bg {
    background-image: url("https://sdx9iwco6pp4t1hz.public.blob.vercel-storage.com/wps/van-vSuavpvflRjC8EIB6053dVp0YwniNs.gif");
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.scanlines {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 3px 100%;
    background-position: 0 0, 0 0;
    animation: moveScanlines 0.1s linear infinite;
    z-index: 2;
}


@keyframes moveScanlines {
    0% {
        background-position: 0 0, 0 0;
    }
    100% {
        background-position: 0 100%, 0 100%;
    }
}


.vignette {
    background-image: url("https://sdx9iwco6pp4t1hz.public.blob.vercel-storage.com/wps/crt-eSH6cOx8L6hH7EIkB2nbSnu6yyMNDl.png");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
}

.staticOverlay {
    position: absolute;
    inset: -200%;
    background-image: url("/noise.png");
    opacity: 8%;
    z-index: 2;
    pointer-events: none;
    animation: moveStaticOverlay 0.2s linear infinite both;
}

@keyframes moveStaticOverlay {
    0% {
        transform: translateX(10%) translateY(10%)
    }
    100% {
        transform: translateX(-10%) translateY(-10%)
    }
}

.playerContainer {
    z-index: 4;
}

.darkOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);  /* Adjust the opacity (0.3) to control darkness */
    z-index: 2;
    pointer-events: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}